/* styles.css */
.expense-tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.expense-tracker-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  /*justify-content: space-between;*/
  /*align-items: flex-start;*/
  padding: 2rem;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*background: linear-gradient(
    90deg,
    rgb(240, 243, 241) 0%,
    rgb(127, 129, 127) 100%
  );*/
}

.expense-tracker-container.light {
  background-color: #f5f5f5;
}

.expense-tracker-container.dark {
  background-color: #2b2b2b;
}

.expense-tracker h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgb(8, 6, 6);
}

.balance,
.Summary {
  background-color: white;
  border: 2px;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #2d3436;
}

.balance h2,
.balance h3 {
  display: inline;
}

.balance h2 {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.balance h4 {
  font-size: 0.8rem;
  display: inline;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.sign-out-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

.sign-out-btn:hover {
  background-color: white;
  color: #2d3436;
}

.theme-toggle-btn:hover {
  background-color: white;
  color: #2d3436;
}

.add-transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  color: #252c2e;
}

.add-transaction input {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  width: 20rem;
}

.add-transaction label {
  margin-bottom: 0.5rem;
}

.add-transaction button {
  background-color: #2d3436;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-transaction button:hover {
  background-color: #1a1f22;
}

.transactions {
  /*background-color: rgb(126, 124, 124);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 3rem;
  margin-top: 2rem;
  color: #2d3436;
  width: 100%;*/
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #141111;
  border-radius: 10px;
  padding: 30px 100px;
}

.transactions h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgb(245, 243, 243);
}

.transactions ul {
  list-style-type: disc;
  padding: 0;
}

.transactions li {
  margin-bottom: 1rem;
}

.transactions h4 {
  display: inline;
  font-size: 1.2rem;
  font-weight: normal;
}

.transactions p {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
}

.transactions label {
  display: inline;
  font-size: 1.2rem;
}

.light .balance h3,
.light .balance h2,
.light .balance h4,
.light .summary h4,
.light .summary p,
.light .add-transaction input[type="text"],
.light .add-transaction input[type="number"],
.light .add-transaction button {
  color: #333;
}

.light .balance u,
.light .balance h4,
.light .summary p,
.light .add-transaction button {
  color: #4a90e2;
}

.dark .balance h3,
.dark .balance h2,
.dark .balance h4,
.dark .summary h4,
.dark .summary p,
.dark .add-transaction input[type="text"],
.dark .add-transaction input[type="number"],
.dark .add-transaction button {
  color: #ddd;
}

.dark .balance u,
.dark .balance h4,
.dark .summary p,
.dark .add-transaction button {
  color: #4a90e2;
}